html		{background-color:orange;}

header
{
	font-weight:bold;
	margin-bottom:2cm;
	font-size:90px;
	color: #cccccc;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);
	 font-family: Arial, Helvetica, Verdana, sans-serif;
	 text-align:center;
}

body
{	
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

footer
{
	margin-top:2cm;
	text-align:center;
	
}

#nagl
{
	font-weight:bold;
	
	font-size:90px;
	color: #cccccc;
	text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
           0 3px 0 #777777, 0 4px 0 #666666,
           0 5px 0 #555555, 0 6px 0 #444444,
           0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
           0 9px 10px rgba(0, 0, 0, 0.2);
	 font-family: Arial, Helvetica, Verdana, sans-serif;
	 text-align:center;
}
#wir
{
	display:inline; 
	margin-right:1cm;
	
	
}

#wir:hover
{
	
	opacity : 0.90;
	filter : alpha(opacity=90);
}

#bak 	
{
	display:inline;
	margin-left:1cm;
}
	
#bak:hover
{
	opacity : 0.90;
	filter : alpha(opacity=90);
}

#twir
{
	display:inline;
}

#tbak
{
	display;:inline;
}

#logo
{
	display:inline;
}

#mail
{
	text-align:left;
	font-weight:bold;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	margin-bottom:1cm;
}

